# Twitter media klasörünün üst dizini.
# Bu klasör altındaki TÜM alt klasörler (bookmarks/, liked/, N/, vb.) recursive taranır.
#
# Windows örneği:
#   MEDIA_ROOT=C:\Users\Umit Altinoz\Desktop\twittermedia
# Linux/Mac örneği:
#   MEDIA_ROOT=/home/umit/twittermedia
MEDIA_ROOT=
